body {
  font-family: 'Ubuntu', 'Times New Roman', sans-serif;
  padding: 20px;
  background-color: #2a3d40;
}
.messages {
  display: block;
  border: 1px solid #ffffff;
  width: 572px;
  min-height: 300px;
  margin: 20px 0;
  background-color: #ffffff;
}
h1 {
  font-size: 22px;
  text-transform: uppercase;
  color: #c5dde0;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 100%;
  display: inline-block;
  padding: 15px 25px;
  border: 1px solid gray;
  background-color: #c5dde0;
  color: #2a3d40;
}
input {
  width: 350px;
  font-size: 14px;
  line-height: 100%;
  display: inline-block;
  padding: 15px 25px;
  margin-right: 10px;
  border: 1px solid #ffffff;
}
